:root{
    font-size: 62,5%;
}

body{
    height: 180rem;
    background: #071422;
    margin: 0rem;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
  
.header_cover{
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    align-items: center;
    position: center;
    height: 15rem;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #0B1B2B;
}


.logo{
    height: 3rem;
    width: 12rem;
    padding-bottom: 6rem;
}

.elipse01{
    position: absolute;
    width: 20rem;
    height: 20rem;
    left: 13rem;
    top: -9rem;
    background: #14589C;
    filter: blur(184px);
    transform: rotate(15deg);
}

.container{

    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    position: center;
    max-width: 54rem;
}

.profile{
    display: flex;
    max-width: 54rem;
    max-height: 13rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5rem;

    background: #0B1B2B;
    box-shadow: 0px 2px 28px  rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.avatar_img{
    margin: 2rem;
    max-width: 9rem;
    max-height: 9rem;   
    border-radius: 8px;
    src:"https://picsum.photos/200/300?random=1";
}

.user_container{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-end;
    overflow: hidden; 
}

.github_link{
    position: absolute;
    align-self:flex-end;
    margin-right: 2rem;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;

    color: #3294F8;
}

.user_info_container{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: 0.5rem;
    overflow: hidden;
    max-height: 2.5rem;
    max-width: 54rem;
    margin-bottom: 2rem;
}

.user_info{
    /* Ãcones e links para outras redes */
    display: flex;
    flex-direction: row;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #C4D4E3;
    padding-right: 1rem;
}

.user_info > i{
    padding: 17px 13px;
    color: #3A536B;
}

.user_name{ 
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #E7EDF4;
    max-height: 2rem;
    overflow:hidden
}

.user_bio{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    max-height: 4rem;
    color: #AFC2D4;
    overflow: hidden;
    margin-right: 2rem;
    margin-top: 1rem;
}

.title{

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    position: left;

    color: #C4D4E3;
}

.subtitle{
position: left;
width: 9rem;
height: 2rem;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;

text-align: right;

color: #7B96B2;
}

.search_box{
    display: flex;
    justify-self:baseline;
    position: left;
    max-width: 53rem;
    height: 3rem;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding-left: 1rem;    
    color: #3A536B;
    background: #040F1A;

    border: 1px solid #1C2F41;
    border-radius: 6px;
}

.search_box::placeholder{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #3A536B;
}

.posts_counter{
    position: absolute;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    align-self: flex-end;
    text-align: right;
    color: #7B96B2;
}

.posts_container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    max-width: 54rem;
    margin-left: auto;
    margin-right: auto;
}

.post{
    margin-top: 3rem;
    width: 22rem;
    height: 10rem;
    background: #112131;
    border-radius: 10px;
    padding: 2rem;
    margin-right: 1rem;
    overflow: hidden;
    
}

.post >p::-webkit-scrollbar {
    display: none;
  }
  
.post_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.post_header > h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;     
    color: #E7EDF4;
}

.post > p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    max-height: 6rem;
    width: 12rem;
    color: #AFC2D4;
    overflow:auto;
    
}

.time{
    align-self: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #7B96B2;
    
}

.styled-scrollbars {
    --scrollbar-foreground: #999
    --scrollbar-background: #333
    /* Foreground, Background */
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
  }
.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--scrollbar-foreground);
}
.styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: var(--scrollbar-background);
}



